<%layout('../layout')%>
<div id="page-wrapper">
    <div class="alert alert-danger" style="margin-top:20px; font-size: 15px; line-height: 1.8em; text-align: center">         
        Experienced LINA backed by Blockchain, powered by LINA NETWORK.<br/>          
        Accordance with AimThaiFruit's operating procedures.
        All testing data  may be deleted without prior notice.
    </div>        
        <!-- /.col-lg-12 -->
    <!--    See Privacy, Policy. -->
    <!-- /.row -->    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= dashboard.Orgs.length %></div>
                            <div>Organization</div>
                        </div>
                    </div>
                </div>
                <a href="/organization">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-puzzle-piece fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= dashboard.Parties.length %></div>
                            <div>Company (Party)</div>
                        </div>
                    </div>
                </div>
                <a href="/party">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-map-marker fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= dashboard.Locations.length %></div>
                            <div>Location</div>
                        </div>
                    </div>
                </div>
                <a href="/location">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-link fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= dashboard.SupplyChains.length %></div>
                            <div>Supply Chain</div>
                        </div>
                    </div>
                </div>
                <a href="/supply-chain">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>        
    </div>    
    <div class="row">                        
         <!-- DataTables Example -->
         <div class="panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-bolt fa-fw"></i> Product History (Supply Chain)
            </div> <div class="card-body">
           <div class="table-responsive">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
               <thead>
                 <tr>
                   <th>ID</th>
                   <th>Time</th>
                   <th>Event</th>
                   <th>Product</th>
                   <th>Location</th>
                   <th>Supplychain</th>                  
                   <th>Details</th> 
                 </tr>
               </thead>               
               <tbody>
               <%
               var rowid=1
               for(var k in dashboard.CTELogs ) {
            %>
               <tr class="row-<%=rowid%>">
                   <td >
                        <a target="_blank" href="https://insight.deevo.io/doc/<%=dashboard.CTELogs[k]['id']%>"><%=dashboard.CTELogs[k]['id'].substring(0,20)%></a>
                   </td>                   
                   <td ><%=dashboard.CTELogs[k]['timeUTC']%></td>
                   <td ><%=dashboard.CTELogs[k]['cte']%></td>
                   <td ><%=dashboard.CTELogs[k]['productName']%></style="display:none;"td>
                   <td ><%=dashboard.CTELogs[k]['locationName']%></td>
                   <td ><%=dashboard.CTELogs[k]['supplychainName']%></td>
                   <td>
                       <a href="/log/action?type_search=0&orgid_key=<%= dashboard.CTELogs[k]['id'] %>">
                            <span class="pull-center">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>                            
                        </a>
                   </th>                   
               </tr>
           <% rowid++};
           %>
               </tbody>
             </table>
           </div>
         </div>
         <div class="card-footer small text-muted">Last updated at <%=dashboard.lastUpdated%></div>
       </div>
    </div>
   
</div>
<!-- /#page-wrapper -->
<script src="/bower_components/morris.js/morris.min.js"></script>
<script src="/js/morris-data.js"></script>
