<%layout('/layout')%> 

<style>

.menu-json {

overflow-y: scroll;
height: 150px;
background-color: antiquewhite;
<<<<<<< HEAD

padding-left: 15px;

=======
padding-left: 15px;
>>>>>>> b6da16a1756ee21589509f8593035f123e144034

}

.json-cap1, .json-cap2,.json-op,.json-cl {
	list-style: none;
}

.json-cap1 {

padding-left: 15px;

}

.json-cap2 {

padding-left: 90px;

}

.mytable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.td-id {
  width: 10%;
}
.td-name {
  width: 15%;
}
.td-obj {
  width: 10%;
}
.td-parent {
  width: 10%;
}
.td-content {
  width: 48%;
}
.td-action {
  width: 7%;
}
.mytable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mytable td,
.mytable th {
  text-align: left;
  padding: 5px 10px;
  white-space: initial;
  word-wrap:break-word;
}


.select-parent{
    width: 100%;
}


th.co-th.mybutton {
    padding: 0 3px;
}

.box-co{
	border-radius: 1px; 
}

th.co-th {
    border: none !important;
}
.modal-dialog{
    width: 100em;
}

.title-group{
    text-align: center;
    font-size: 18px;
}
.group-1{
    width: 20%;
    padding: 5px 5px;
    float: left;
}

.group-2 {
    width: 80%;
    float: left;
    padding: 5px 5px;
}

.modal-body {
   overflow-y: auto;
}

#myDIV  {
    overflow-y: scroll;
    height: 550px;
}

.table-responsive {
    width: 100%;
}
.search{
    width: 30%;
    float: right;
}
.btn {
    padding: 6px 20px;
}


.btn-edit{
        padding: 6px 1px;
        width: 60px;
}
textarea {
    resize: none;
}
th{
    vertical-align: middle !important;
    font-weight: normal !important;
}
.row-title{
    font-weight: bold !important;
}
.col-action{
    width: 20px;
}
</style>



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">ORGANIZATION</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <% if ( message && status== 1 ) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>    
    <% }%>
    <% if ( message && status== 2 ) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>   
    <%} %>
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel-body">
                        	<div class="search">
                                <form role="form" id="form-search" method="GET" action="/organization/action">
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" name="orgid_key" value="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="btn-search" type="submit" name="search_id"><i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
							</div>
							
                            <button class="btn btn-primary btn-success" id="btn-addnew" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add new</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <form role = 'form' id="form-post" method="POST" action="/organization/action">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">ORGANIZATION</h4>
                                                    </div>
												<div id="myDIV">
                                                    <div class="modal-body">
                                                        <div class="group-1">
                                                            <div class="form-group col-3" id="iditem">
                                                                <label>ID</label>
                                                                <input class="form-control box-co"  name="id_item" value="" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Name (*)</label>
                                                                <input class="form-control box-co" name="name_item" value="">
                                                            </div>    
                                                            <!-- <div class="form-group col-3">  
                                                                <label>Object Type (*)</label>
                                                                <input class="form-control box-co" name="type_item" value="">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label>Parent (*)</label>
                                                                <input class="form-control box-co" name="parent_item" value="">
                                                            </div>     -->
                                                        </div>  
                                                  <div class="group-2">
													<div class="panel">
															<!-- /.panel-heading -->
														<div class="panel-body">
															<!-- Nav tabs -->
															<ul class="nav nav-tabs">
																
																 <li class="active"><a href="#address" data-toggle="tab"  style="font-weight: bold;">Address</a>
																</li>
																<li><a href="#contact" data-toggle="tab"  style="font-weight: bold;">Contact</a>
																</li>
																<li><a href="#location" data-toggle="tab"  style="font-weight: bold;">GPS Location</a>
																</li>
																<li><a href="#general" data-toggle="tab" style="font-weight: bold;">GS1</a></li>
															 </ul>

															<!-- Tab panes -->
															<div class="tab-content">
																<div class="tab-pane fade in active" id="address">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-address">
																			<tbody>
																				<tr class="address-rows address-1">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="House" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_house" id="address_house" name="address_val" value=""></th>
																				</tr>
																				<tr class="address-rows address-2">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="Street" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_street" id="address_street" name="address_val" value=""></th>
																				</tr>
																				<tr class="address-rows address-3">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="Ward" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_ward" id="address_ward" name="address_val" value=""></th>
																				</tr>
																				<tr class="address-rows address-4">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="District" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_district" id="address_district" name="address_val" value=""></th>
																				</tr>		
																				<tr class="address-rows address-5">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="City" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_city" id="address_city" name="address_val" value=""></th>
																				</tr>
																				<tr class="address-rows address-6">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="address_key" value="Country-Code" readonly></th>
																					<th class="co-th"> <input class="form-control box-co address_country" id="address_country" name="address_val" value=""></th>
																				</tr>																				
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="tab-pane fade" id="contact">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-contact">
																			<tbody>
																				<tr class="contact-rows contact-1">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="contact_key" value="Full-Name" readonly></th>
																					<th class="co-th"> <input class="form-control box-co contact_name" id="contact_name" name="contact_val" value="" ></th>
																				</tr>
																				<tr class="contact-rows contact-2">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="contact_key" value="Email" readonly></th>
																					<th class="co-th"> <input class="form-control box-co contact_email" id="contact_email" name="contact_val" value=""></th>
																				</tr>
																				<tr class="contact-rows contact-3">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="contact_key" value="Phone" readonly></th>
																					<th class="co-th"> <input class="form-control box-co contact_phone" id="contact_phone"  name="contact_val" value=""></th>
																				</tr>
																				<tr class="contact-rows contact-4">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="contact_key" value="Role" readonly></th>
																					<th class="co-th"> <input class="form-control box-co contact_role" id="contact_role" name="contact_val" value=""></th>
																				</tr>		
																				<tr class="contact-rows contact-5">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="contact_key" value="DEEVO-Account" readonly></th>
																					<th class="co-th"> <input class="form-control box-co contact_account" id="contact_account" name="contact_val" value=""></th>
																				</tr>																			
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="tab-pane fade" id="location">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-location">
																			<tbody>
																				
																				<tr class="location-rows location-1">
																					<th width="150px" class="co-th"> <input onchange="" class="form-control box-co" name="location_key" value="Longitude" readonly></th>
																					<th class="co-th"> <input class="form-control box-co location_longitude" id="us2-lon" name="location_val" value=""></th>
																					<th width="150px" class="co-th"> <input onchange="" class="form-control box-co" name="location_key" value="Latitude" readonly></th>
																					<th class="co-th"> <input class="form-control box-co location_latitude" id="us2-lat" name="location_val" value=""></th>
																					
																				</tr>		
																				
																				<tr class="location-rows location-2">
																					<th class="map" colspan="4" class="co-th"><div id="us2" style="width: 100%; height: 300px;"></div></th>
																				</tr>
																				<script>
																					$('#us2').locationpicker({
																						location: {latitude: 46.15242437752303, longitude: 2.7470703125},
																						radius: 300,
																						inputBinding: {
																							latitudeInput: $('#us2-lat'),
																							longitudeInput: $('#us2-lon'),
																							radiusInput: $('#us2-radius'),
																							locationNameInput: $('#us2-address')
																						}
																					});
																				</script>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="tab-pane fade" id="general">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-general">
																			<tbody>
																					<tr class="general-rows general-1">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GLN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GLN" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-2">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GSIN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSIN" value=""></th>																					
																					</tr>		
																					<tr class="general-rows general-3">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 SSCC" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_SSCC" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-4">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GTIN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GTIN" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-5">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GINC" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GINC" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-6">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GRAI" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GRAI" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-7">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GIAI" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GIAI" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-8">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GSRN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSRN" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-9">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GDTI" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GDTI" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-10">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GCN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GCN" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-11">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 CPID" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_CPID" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-12">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Country" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Country" value=""></th>																					
																					</tr>
																					<tr class="general-rows general-13">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 Prefix" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Prefix" value=""></th>																					
																					</tr>		
																					<tr class="general-rows general-14">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Phone" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Phone" value=""></th>																					
																					</tr>	
																					<tr class="general-rows general-15">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Fax" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Fax" value=""></th>																					
																					</tr>	
																					<tr class="general-rows general-16">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Email" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Email" value=""></th>																					
																					</tr>	
																					<tr class="general-rows general-17">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Website" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_Website" value=""></th>																					
																					</tr>	
																					<tr class="general-rows general-18">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Business Country" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_BSCountry" value=""></th>																					
																					</tr>																						
																			</tbody>
																		</table>
																	</div>
																</div>															
															</div>
														</div>
													</div>
														<!-- /.panel-body -->
													</div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                        <button type="submit" name="send" id="btnclick" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                    </form>
                                    </div>                
                    <div class="table-responsive">
                        <table class="table mytable">
                            
                            <thead>
                                <tr>
                                    <th class="row-title td-id" >ID</th>
                                    <th class="row-title td-name" >Name</th>
                                    <!-- <th class="row-title td-obj" >Object Type</th>
                                    <th class="row-title td-parent">Parent</th> -->
                                    <th class="row-title td-content">Content</th>
									<th class= "td-action row-title">Action</th>
									<th class= "td-action row-title"></th>
                                </tr>
                            </thead>
                            <tbody>

                                    <% 
                                        var rowid=1 
                                        for(var c in data ) {
                                     %>
                                        <tr class="row-<%=rowid%>">
                                            <th class= "row-id"><%=data[c]['id']%></th>
                                            <th class= "row-name"><%=data[c]['name']%></th>
											<th class= "row-content">
												<%if(typeof data[c]['content'] == "undefined"){%>
													<ul class="menu-json">
														<li class="json-op">{...}</li>
														<textarea class="input-content" hidden="hidden" ></textarea>
													</ul>
												<%}else{%>
													<ul class="menu-json">														
															<%try {%>
																<%var objj=JSON.parse(data[c]['content'])%>
																<li class="json-op">{</li>
																<%for(var o in objj) {%>
																	<%if(typeof objj[o]!='object'){%>
																		<li class="json-cap1"><%= o %>: "<%= objj[o] %>"</li>
																	<%}else{%>
																		<li class="json-cap1"><%= o %>: {</li>
																		<%for(var k in objj[o]) {%>
																			<li class="json-cap2"><%= k %>: "<%= objj[o][k] %>"</li>
																		<%}%>
																		<li class="json-cap1">}</li>
																	<%}%>
																<%}%>
																<li class="json-cl">}</li>
															<%}catch(error) {%>
																<%=data[c]['content']%>
															<% }%>	
													</ul>
													<textarea class="input-content" hidden="hidden" ><%=data[c]['content'] %></textarea>       
												<%}%>
											</th>
											<th class= "row-btn"><button title="Edit the organization on blockchain" type="button" id="<%=rowid%>" class="btn btn-warning btn-edit"><i class="fa fa-pencil"></i> Edit</button></th> 
											<th class= "row-detail"><a title="View the organization on blockchain" target="_blank" href="https://insight.deevo.io/doc/<%=data[c]['id']%>" class="btn btn-warning"><i class="fa fa-info-circle"></i></a></th>
                                        </tr>
                                    <% rowid++}; 
                                    %> 
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
 	</div>
</div>
<% var cont=JSON.stringify(data);%>
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>    

	$('.btn-edit').click(function(){
        var id=$('.row-'+$(this).attr('id')).find('.row-id').text();
        var name=$('.row-'+$(this).attr('id')).find('.row-name').text();
		var content=$('.row-'+$(this).attr('id')).find('.input-content').val();
		
		$("#myModal").modal();
		$( "#iditem" ).css("display", "block");
        $('#form-post').attr('action','/organization/action?_method=put');
		
        $( "input[name='id_item']" ).val(id);
        $( "input[name='name_item']" ).val(name);

		try{
		
		var objcontent=JSON.parse(content);

		var cont=objcontent['Contact'];
			$('#contact_name').val(cont['Full-Name']);
			$('#contact_email').val(cont['Email']);
			$('#contact_phone').val(cont['Phone']);
			$('#contact_role').val(cont['Role']);
			$('#contact_account').val(cont['DEEVO-Account']);
	
	
		// var add=objcontent['Address'];
		// 	$('#address_house').val(add['House']);
		// 	$('#address_street').val(add['Street']);
		// 	$('#address_ward').val(add['Ward']);
		// 	$('#address_district').val(add['District']);
		// 	$('#address_city').val(add['City']);
		// 	$('#address_country').val(add['Country-Code']);


		// $("input[name='general_val']").each(function(index){
		// 	$(this).val(Object.values(objcontent)[index]);
		// });


		// var locat=objcontent['Location'];
		// 	$('#us2-lon').val(locat['Longitude']);
		// 	$('#us2-lat').val(locat['Latitude']);

		}catch(error){
			$("input[name='address_val']").val('');
			$("input[name='contact_val']").val('');
			$("input[name='general_val']").val('');
		}
		

    });
	
    $('#btn-addnew').click(function(){
		$('#form-post').attr('action','/organization/action');
		$( "#iditem" ).css("display", "none");

		$( "input[name='id_item']" ).val(uuidv4());
        $( "input[name='name_item']" ).val('');

		$("input[name='address_val']").val('');
		$("input[name='contact_val']").val('');
		$("input[name='general_val']").val('');
	
	});

		
	function uuidv4() {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
			var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}

</script>