<%layout('/layout')%> 

<style>


.menu-json {

overflow-y: scroll;
height: 150px;
background-color: antiquewhite;
padding-left: 15px;

}

.json-cap1, .json-cap2,.json-op,.json-cl {
	list-style: none;
}

.json-cap1 {

padding-left: 15px;

}

.json-cap2 {

padding-left: 75px;

}

.mytable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.mytable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mytable td,
.mytable th {
  text-align: left;
  padding: 5px 10px;
  white-space: initial;
  word-wrap:break-word;
}


.select-parent{
    width: 100%;
}

th.row-parent {
    border-top: none !important;
}

th.co-th.mybutton {
    padding: 0 3px;
}

.box-co{
	border-radius: 1px; 
}

th.co-th {
    border: none !important;
}
.modal-dialog{
    width: 100em;
}

.title-group{
    text-align: center;
    font-size: 18px;
}
.group-1{
    width: 20%;
    padding: 5px 5px;
    float: left;
}

.group-2 {
    width: 80%;
    float: left;
    padding: 5px 5px;
}

.modal-body {
   overflow-y: auto;
}

#myDIV  {
    overflow-y: scroll;
    height: 550px;
}

.table-responsive {
    width: 100%;
}
select.form-control.type_search{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.type_search {
    display: block;
    width: 40%;    

}
.search{
    width: 50%;
    float: right;
}
.orgid_key{
    float: right;
    width: 60%;
	padding-left: 3px;
}
.btn {
    padding: 6px 20px;
}
.btn-edit{
        padding: 6px 1px;
        width: 60px;
}
textarea {
    resize: none;
}
th{
    vertical-align: middle !important;
    font-weight: normal !important;
}
.row-title{
    font-weight: bold !important;
}
.col-action{
    width: 20px;
}
</style>



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PLANT (TREE)</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <% if ( message && status== 1 ) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>    
    <% }%>
    <% if ( message && status== 2 ) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>   
    <%} %>
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel-body">
							<div class="search">
								<form role="form" id="form-search" method="GET" action="/log/action">
									<div class="form-group input-group">
										<div class="group-search">
											<div class="input-group-btn type_search">
												<select  class="form-control type_search" id="type_search" name="type_search">
													<option value="0">---select---</option>
												</select>
											</div>
											<div class="input-group-btn orgid_key">
												<input type="text" class="form-control orgid_key" name="orgid_key" value="">
											</div>
										</div>
										<div class="input-group-btn">
											<button class="btn btn-default" id="btn-search" type="submit"><i class="fa fa-search"></i>
											</button>
											<input type="hidden" name="view_tpl" value="plant">  
										</div>
									</div>
								</form>
							</div>
                            <button class="btn btn-primary btn-success" id="btn-addnew" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add new</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <form role = 'form' id="form-post" method="POST" action="/log/action">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">PLANT (TREE)</h4>
                                                    </div>
												<div id="myDIV">
                                                    <div class="modal-body">
                                                        <div class="group-1">
                                                            <div class="form-group" id="iditem">
                                                                <label>ID</label>
                                                                <input class="form-control box-co" id="id_item" name="id_item" value="" readonly>
                                                            </div>  
                                                            <div class="form-group">
                                                                <label>Time (*)</label>
                                                                <input class="form-control box-co gr-1" id="time_item" name="time_item" value="">
															</div>  
															<div class="form-group">
																<label>CTE (*)</label>
																<select class="form-control box-co gr-1" id="cte_item" name="cte_item" >
																		<option value="0">--- select ---</option>
																  </select>
															</div>  
															<div class="form-group">
																<label>Asset (*)</label>
																<select class="form-control box-co gr-1" id="asset_item" name="asset_item" >
																		<option value="0">--- select ---</option>
																  </select>
															</div>  
															<div class="form-group col-3">
																<label>Supplychain (*)</label>
																<select class="form-control box-co gr-1" id="supplychain_item" name="supplychain_item" >
																		<option value="0">--- select ---</option>
																  </select>
                                                            </div>  
															<div class="form-group col-3">
																<label>Location (*)</label>
																<select class="form-control box-co gr-1" id="location_item" name="location_item" >
																		<option value="0">--- select ---</option>
																  </select>
															</div>  
															<div class="form-group col-3">
																<label>Product (*)</label>
																<select class="form-control box-co gr-1" id="product_item" name="product_item" >
																		<option value="0">--- select ---</option>
																  </select>
                                                            </div>  													
                                                        </div>  
                                                  <div class="group-2">
													<div class="panel">
															<!-- /.panel-heading -->
														<div class="panel-body">
															<!-- Nav tabs -->
															<ul class="nav nav-tabs">
																<li class="active"><a href="#general" data-toggle="tab"  style="font-weight: bold;">General</a>
																</li>
																<li><a href="#content" data-toggle="tab"  style="font-weight: bold;">Content</a>
																</li>
															 </ul>

															<!-- Tab panes -->
															<div class="tab-content">
																<div class="tab-pane fade  in active" id="general">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-general">
																			<tbody>
																				<tr class="general-rows general-1">
																					<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Sender" readonly></th>
																					<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GLN" value=""></th>																					
																				</tr>
																				<tr class="general-rows general-2">
																					<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="SCM" readonly></th>
																					<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSIN" value=""></th>																					
																				</tr>		
																				<tr class="general-rows general-3">
																					<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Source CTE" readonly></th>
																					<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_SSCC" value=""></th>																					
																				</tr>
																				<tr class="general-rows general-4">
																					<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Datetime" readonly></th>
																					<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GTIN" value=""></th>																					
																				</tr>
																				<tr class="general-rows general-5">
																					<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="Source Item" readonly></th>
																					<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GINC" value=""></th>																					
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="tab-pane fade" id="content">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-content">
																			<tbody>
																				<tr class="content-rows content-1">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="detail_key" value="Tree Name" readonly></th>
																					<th class="co-th"> <input class="form-control box-co detail_tree_name" id="detail_tree_name" name="detail_val" value=""></th>
																				</tr>		
																				<tr class="content-rows content-2">
																					<th width="200px" class="co-th"> <input onchange="" class="form-control box-co" name="detail_key" value="Quantity" readonly></th>
																					<th class="co-th"> <input class="form-control box-co detail_quantity" id="detail_quantity" name="detail_val" value=""></th>
																				</tr>	
																			</tbody>
																		</table>
																	</div>
																</div>	
															</div>
														</div>
													</div>
														<!-- /.panel-body -->
													</div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
														<button type="submit" name="send" id="btnclick" class="btn btn-success">Save</button>
														<input type="hidden" name="view_tpl" value="plant">      
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                    </form>
                                    </div>                
                    <div class="table-responsive">
                        <table class="table mytable">                         
                            <thead>
                                <tr>
									<th class="row-title" width="10%">ID</th>
									<th class="row-title" width="10%">Time</th>
									<th class="row-title" width="10%">CTE</th>
									<th class="row-title" width="10%">Supplychain</th>
									<th class="row-title" width="10%">Asset</th>
									<th class="row-title" width="10%">Product</th>
									<th class="row-title" width="10%">Location</th>
									<th class="row-title" width="20%">Content</th>
									<th class="row-title" width="10%">Action</th>
									<th class="row-title" width="10%"></th>
                                </tr>
                            </thead>
                            <tbody>
								<%  var rowid=1 
									for(var c in data){ 
								%>
									<tr class="row-<%=rowid%>"</tr>
										<th class="id"><%=data[c]['id']%></th>
										<th class="time"><%=data[c]['time']%></th>
										<th class="cte"><%=data[c]['cte']%></th>
										<th class="supplychain"><%=data[c]['supplychain_id']%></th>
										<th class="asset"><%=data[c]['asset']%></th>
										<th class="product"><%=data[c]['product']%></th>
										<th class="location"><%=data[c]['location']%></th>
										<th class= "row-content">
											<%if(typeof data[c]['content'] == "undefined"){%>
												<ul class="menu-json">
													<li class="json-op">{...}</li>
													<textarea class="input-content" hidden="hidden" ></textarea>
												</ul>
											<%}else{%>
												<ul class="menu-json">														
														<%try {%>
															<%var objj=JSON.parse(JSON.parse(data[c]['content']))%>
															<li class="json-op">{</li>
															<%for(var o in objj) {%>
																<%if(typeof objj[o]!='object'){%>
																	<li class="json-cap1"><%= o %>: "<%= objj[o] %>"</li>
																<%}else{%>
																	<li class="json-cap1"><%= o %>: {</li>
																	<%for(var k in objj[o]) {%>
																		<li class="json-cap2"><%= k %>: "<%= objj[o][k] %>"</li>
																	<%}%>
																	<li class="json-cap1">}</li>
																<%}%>
															<%}%>
															<li class="json-cl">}</li>
														<%}catch(error) {%>
															<%=data[c]['content']%>
														<% }%>	
												</ul>
												<textarea class="input-content" hidden="hidden" ><%=data[c]['content'] %></textarea>       
											<%}%>
										</th>
										<th class="action">
											<button title="Edit plant on the blockchain" type="button" id="<%=rowid%>" class="btn btn-warning btn-edit"><i class="fa fa-pencil"></i> Edit</button>
										</th>
										<th class= "row-detail"><a title="View plant on the blockchain" target="_blank" href="https://insight.deevo.io/doc/<%=data[c]['id']%>" class="btn btn-warning"><i class="fa fa-info-circle"></i></a></th> 
									</tr>
                                <% rowid++}; 
                                %> 
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
 	</div>
</div>
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>   

	$('#type_search').change(function(){

		var str=$(this).val();

		if(str==0){
			$('.orgid_key').prop('disabled', false);
		}else{
			$('.orgid_key').prop('disabled', true);
		};

	});

	$('.btn-edit').click(function(){

		var time= $('.row-'+$(this).attr('id')).find('.time').text();
		var cte= $('.row-'+$(this).attr('id')).find('.cte').text();
		var supplychain= $('.row-'+$(this).attr('id')).find('.supplychain').text();
		var asset= $('.row-'+$(this).attr('id')).find('.asset').text();
		var product= $('.row-'+$(this).attr('id')).find('.product').text();
		var location= $('.row-'+$(this).attr('id')).find('.location').text();
		var content=$('.row-'+$(this).attr('id')).find('.input-content').val();

		var id= $('.row-'+$(this).attr('id')).find('.id').text();

		$("#myModal").modal();
		$('#form-post').attr('action','/log/action?_method=put');

		$( "#iditem" ).css("display", "block");
		$("#id_item").val(id);
       
		$("#asset_item").val(asset);
		$("#time_item").val(time);
		$("#cte_item").val(cte);
		$('#supplychain_item').val(supplychain);
		$('#location_item').val(location);
		$('#product_item').val(product);

		try{
			
			var objcontent=JSON.parse(JSON.parse(content));

			$("input[name='general_val']").each(function(index){
				$(this).val(Object.values(objcontent)[index]);
			});

			var detail=objcontent['detail'];
				$('#detail_tree_name').val(detail['Tree Name']);
				$('#detail_quantity').val(detail['Quantity']);

		}catch(error){
			$("input[name='general_val']").val('');
			$("input[name='content_val']").val('');
		}

    });

    $('#btn-addnew').click(function(){
		$( "#iditem" ).css("display", "none");
		$("input[name='id_item']").val(uuidv4());
		$("input[name='time_item']").val('');
        $('#form-post').attr('action','/log/action');
		$("input[name='general_val']").val('');
	});

	function uuidv4() {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
			var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}

$(document).ready(function(){

var asset="/loadajax/asset";
var supply="/loadajax/supplychain";
var loca="/loadajax/location";
var product="/loadajax/product";
var cte=["Grow", "Harvest", "Aggregate", "Store", "Pack", "Unpack", "Adjust", "Sell", 
		"Ship", "Produce", "Convert", "Prepare", "Transport", "Consume", "Destroy", "Provide", "Inspect", "Certify", "Approve"];
var str;

for(var c in cte ) {
	str+='<option value="'+cte[c]+'">';
	str+= cte[c];
	str+='</option>';
}

$('#cte_item').html(str);

loadauditor(function(html){
	$('#asset_item').html(html);
},asset);

loadauditor(function(html){
	$('#supplychain_item').html(html);
},supply);

loadauditor(function(html){
	$('#location_item').html(html);
},loca);

loadauditor(function(html){
	$('#product_item').html(html);
},product);

search(function(html){
	$('#type_search').html(html);
},product);

});

function loadauditor(callback,url){

$.ajax({
	url:url,
	type: "POST",
	data:{
	},
	success:function(response){
		console.log(response);
	var res = JSON.parse(response);
	var html='';
			for(var c in res ) {
				html+='<option value="'+res[c]['name']+'">';
				html+= res[c]['name'];
				html+='</option>';
			}
		callback(html);
	},
	error:function(error){
		console.log(error);
	}
});
}

function search(callback,url){

$.ajax({
	url:url,
	type: "POST",
	data:{
	},
	success:function(response){
		console.log(response);
	var res = JSON.parse(response);
	var html='<option value="0">--- search by product ---';
			for(var c in res ) {
				html+='<option value="'+res[c]['name']+'">';
				html+= res[c]['name'];
				html+='</option>';
			}
		callback(html);
	},
	error:function(error){
		console.log(error);
	}
});
}

</script>