<%layout('/layout')%> 

<style>


.menu-json {

overflow-y: scroll;
height: 150px;
background-color: antiquewhite;
padding-left: 15px;

}

.json-cap1, .json-cap2,.json-op,.json-cl {
	list-style: none;
}

.json-cap1 {

padding-left: 15px;

}

.json-cap2 {

padding-left: 90px;

}

.mytable {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* Column widths are based on these cells */
.td-id {
  width: 10%;
}
.td-name {
  width: 15%;
}
.td-obj {
  width: 10%;
}
.td-parent {
  width: 10%;
}
.td-content {
  width: 48%;
}
.td-action {
  width: 7%;
}
.mytable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mytable td,
.mytable th {
  text-align: left;
  padding: 5px 10px;
  white-space: initial;
  word-wrap:break-word;
}


.select-parent{
    width: 100%;
}
.orgid_key{
    float: right;
    width: 60%;
	padding-left: 3px;
}

th.co-th.mybutton {
    padding: 0 3px;
}

.box-co{
	border-radius: 1px; 
}

th.co-th {
    border: none !important;
}
.modal-dialog{
    width: 100em;
}
.title-group{
    text-align: center;
    font-size: 18px;
}
.group-1{
    width: 20%;
    padding: 5px 5px;
    float: left;
}

.group-2 {
    width: 80%;
    float: left;
    padding: 5px 5px;
}

.modal-body {
   overflow-y: auto;
}

#myDIV  {
    overflow-y: scroll;
    height: 550px;
}

.table-responsive {
    width: 100%;
}

.search{
    width: 30%;
    float: right;
}
.btn {
    padding: 6px 20px;
}
.btn-edit{
        padding: 6px 1px;
        width: 60px;
}
textarea {
    resize: none;
}
th{
    vertical-align: middle !important;
    font-weight: normal !important;
}
.row-title{
    font-weight: bold !important;
}
.col-action{
    width: 20px;
}
</style>



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">PRODUCT</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <% if ( message && status== 1 ) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>    
    <% }%>
    <% if ( message && status== 2 ) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>   
    <%} %>
    <div class="row">
        <div class="col-lg-12">
			<div class="panel-body">
					<div class="search">
						<form role="form" id="form-search" method="GET" action="/product/action">
							<div class="form-group input-group">
								<input type="text" class="form-control" name="orgid_key" value="">
								<span class="input-group-btn">
									<button class="btn btn-default" id="btn-search" type="submit" name="search_id"><i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</div>
					<button class="btn btn-primary btn-success" id="btn-addnew" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add new</button>
							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                                   
								<div class="modal-dialog">
									<form role = 'form' id='form-post' method='POST' action='"+req.body.action+"'>
										<div class='modal-content'>
											<div class='modal-header'>
												<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
												<h4 class='modal-title' id='myModalLabel'>PRODUCT</h4>
											</div>
												<div id="myDIV">
                                                    <div class="modal-body">
                                                        <div class="group-1">
                                                            <div class="form-group col-3" id="iditem">
                                                                <label>ID</label>
                                                                <input class="form-control box-co" name="id_item"  value="" readonly>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Name (*)</label>
                                                                <input class="form-control box-co" name="name_item" value="">
                                                            </div>    
                                                            <div class="form-group col-3">
																<label>Location (*)</label>
																<select class="form-control box-co" id="parent_item" name="parent_item" >
																		<option value="0">--- select ---</option>
																  </select>
                                                            </div>    															
                                                        </div>  
														<div class="group-2">
															<div class="panel">
																	<!-- /.panel-heading -->
																<div class="panel-body">
																	<!-- Nav tabs -->
																	<ul class="nav nav-tabs">
																		<li class="active"><a href="#general" data-toggle="tab"  style="font-weight: bold;">General</a>
																		</li>
																		<li><a href="#gs1" data-toggle="tab"  style="font-weight: bold;">GS1</a>
																		</li>
																	</ul>
																	<div class="tab-content">
																		<div class="tab-pane fade in active" id="general">
																			<div class="row show-grid">
																				<table class="table table-content" id="tbl-general">
																					<tbody>
																					<tr class='general-rows general-12'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Scientific Name' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Scientific_Name' value=""></th>																					
																						</tr>
																						<tr class='general-rows general-13'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Quantity' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Quantity' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-14'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Weight' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Weight' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-15'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Price' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Price' value=""></th>																				
																						</tr>
																						<tr class='general-rows general-16'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Destination' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Destination' value=""></th>																		
																						</tr>
																						<tr class='general-rows general-16'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Reference Size' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Reference_Size' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-17'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Source Zone' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Source_Zone' value=""></th>																				
																						</tr>
																						<tr class='general-rows general-18'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Source Date' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Source_Date' value=""></th>																		
																						</tr>
																						<tr class='general-rows general-19'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Fresh Flag' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Fresh_Flag' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-20'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Freezing Flag' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Freezing_Flag' value=""></th>																				
																						</tr>
																						<tr class='general-rows general-21'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Receiving Date' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Receiving_Date' value=""></th>																				
																						</tr>
																						<tr class='general-rows general-22'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Storage Condition' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Storage_Condition' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-23'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Invoice No' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Invoice' value=""></th>																				
																						</tr>
																						<tr class='general-rows general-24'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Ordered Receipt No' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Ordered_Receipt' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-25'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Specifications' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Specifications' value=""></th>																
																						</tr>
																						<tr class='general-rows general-26'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Code' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Code' value=""></th>																			
																						</tr>
																						<tr class='general-rows general-27'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Stored Location' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Stored_Location' value=""></th>																					
																						</tr>
																						<tr class='general-rows general-28'>
																							<th width='200px' class='co-th '> <input onchange='' class='form-control box-co' name='general_key' value='Structure' readonly></th>
																							<th class='co-th'> <input class='form-control box-co' name='general_val' id='general_Structure' value=""></th>																					
																						</tr>	
																					</tbody>
																				</table>
																			</div>
																		</div>
																		<div class="tab-pane fade" id="gs1">
																			<div class="row show-grid">
																				<table class="table table-content" id="tbl-gs1">
																					<tbody>
																						<tr class="general-rows general-1">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GLN" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GLN" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-2">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GSIN" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSIN" value=""></th>																					
																						</tr>		
																						<tr class="general-rows general-3">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 SSCC" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_SSCC" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-4">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GTIN" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GTIN" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-5">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GINC" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GINC" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-6">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GRAI" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GRAI" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-7">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GIAI" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GIAI" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-8">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GSRN" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSRN" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-9">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GDTI" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GDTI" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-10">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GCN" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GCN" value=""></th>																					
																						</tr>
																						<tr class="general-rows general-11">
																							<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 CPID" readonly></th>
																							<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_CPID" value=""></th>																					
																						</tr>																			
																					</tbody>
																				</table>
																			</div>
																		</div>	
																	</div>																
																</div>
															</div>
														</div>
														<!-- /.panel-body -->
													</div>
                                             	</div>
											<div class='modal-footer'>
												<button type='button' class='btn btn-info' data-dismiss='modal'>Close</button>
												<button type='submit' name='send' id='btnclick' class='btn btn-success'>Save</button>
											</div>
										</div>
									</form>
								</div>
							</div>                
                    <div class="table-responsive">
                        <table class="table mytable">
                            
                            <thead>
								<tr>
									<th class="row-title td-id" >ID</th>
									<th class="row-title td-name" >Name</th>
									<th class="row-title td-parent">Location</th>
									<th class="row-title td-content">Content</th>
									<th class= "td-action row-title">Action</th>
									<th class="td-action row-title"></th>
								</tr>
                            </thead>
                            <tbody>

									<% 
									var rowid=1 
									for(var c in data ) {
								 %>
									<tr class="row-<%=rowid%>">
										<th class= "row-id"><%=data[c]['id']%></th>
										<th class= "row-name"><%=data[c]['name']%></th>										
										<th class= "row-parent"><%=data[c]['parent']%></th>
										<th class= "row-content">
												<%if(typeof data[c]['content'] == "undefined"){%>
													<ul class="menu-json">
														<li class="json-op">{...}</li>
														<textarea class="input-content" hidden="hidden" ></textarea>
													</ul>
												<%}else{%>
													<ul class="menu-json">														
															<%try {%>
																<%var objj=JSON.parse(data[c]['content'])%>
																<li class="json-op">{</li>
																<%for(var o in objj) {%>
																	<%if(typeof objj[o]!='object'){%>
																		<li class="json-cap1"><%= o %>: "<%= objj[o] %>"</li>
																	<%}else{%>
																		<li class="json-cap1"><%= o %>: {</li>
																		<%for(var k in objj[o]) {%>
																			<li class="json-cap2"><%= k %>: "<%= objj[o][k] %>"</li>
																		<%}%>
																		<li class="json-cap1">}</li>
																	<%}%>
																<%}%>
																<li class="json-cl">}</li>
															<%}catch(error) {%>
																<%=data[c]['content']%>
															<% }%>	
													</ul>
													<textarea class="input-content" hidden="hidden" ><%=data[c]['content'] %></textarea>       
												<%}%>
											</th>

										<th class= "row-btn"><button title="Edit the product on blockchain" type="button" id="<%=rowid%>" class="btn btn-warning btn-edit" data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Edit</button></th>
										<th class= "row-detail"><a title="View the product on blockchain" target="_blank" href="https://insight.deevo.io/doc/<%=data[c]['id']%>" class="btn btn-warning"><i class="fa fa-info-circle"></i></a></th> 
									</tr>
								<% rowid++}; 
								%> 
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
 	</div>
</div>
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>    

	$('.btn-edit').click(function(){
		
		var id=$('.row-'+$(this).attr('id')).find('.row-id').text();
        var name=$('.row-'+$(this).attr('id')).find('.row-name').text();
        var parent=$('.row-'+$(this).attr('id')).find('.row-parent').text();
		var content=$('.row-'+$(this).attr('id')).find('.input-content').val();

		$("#myModal").modal();
        $('#form-post').attr('action','/product/action?_method=put');
		$( "#iditem" ).css("display", "block");
		$( "input[name='id_item']" ).val(id);
        $( "input[name='name_item']" ).val(name);
        $( "#parent_item" ).val(parent);
			
		try{
		
		var objcontent=JSON.parse(content);

		$("input[name='general_val']").each(function(index){
			$(this).val(Object.values(objcontent)[index]);
		});

		}catch(error){

			$("input[name='general_val']").val('');
		}
		
    });

    $('#btn-addnew').click(function(){
		$('#form-post').attr('action','/product/action');
		$( "#iditem" ).css("display", "none");
        $( "input[name='id_item']" ).val(uuidv4());
        $( "input[name='name_item']" ).val('');

		$("input[name='general_val']").val('');
	});

	function uuidv4() {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
			var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}

$(document).ready(function(){

var url="/loadajax/location";


loadauditor(function(html){
	$('#parent_item').html(html);
},url);

});

function loadauditor(callback,url){

$.ajax({
	url:url,
	type: "POST",
	data:{
	},
	success:function(response){
		console.log(response);
	var res = JSON.parse(response);
	var html='';
			for(var c in res ) {
				html+='<option value="'+res[c]['name']+'">';
				html+= res[c]['name'];
				html+='</option>';
			}
		callback(html);
	},
	error:function(error){
		console.log(error);
	}
});
}

</script>