<%layout('/layout')%> 

<style>
.select-parent{
    width: 100%;
}

th.row-parent {
    border-top: none !important;
}

th.co-th.mybutton {
    padding: 0 3px;
}

.box-co{
	border-radius: 1px; 
}

th.co-th {
    border: none !important;
}
.modal-dialog{
    width: 90%;
}

.title-group{
    text-align: center;
    font-size: 18px;
}
.group-1{
    width: 20%;
    padding: 5px 5px;
    float: left;
}

.group-2 {
    width: 80%;
    float: left;
    padding: 5px 5px;
}

.modal-body {
   overflow-y: auto;
}

#myDIV  {
    overflow-y: scroll;
    height: 400px;
}

.table-responsive {
    width: 100%;
}
.search{
    width: 30%;
    float: right;
}
.btn {
    padding: 6px 20px;
}
.btn-edit{
        padding: 6px 1px;
        width: 60px;
}
textarea {
    resize: none;
}
th{
    vertical-align: middle !important;
    font-weight: normal !important;
}
.row-title{
    font-weight: bold !important;
}
.col-action{
    width: 20px;
}
</style>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Supply Chain Models</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <% if ( message && status== 1 ) { %>
        <div class="alert alert-success">
            <%= message %>
        </div>    
    <% }%>
    <% if ( message && status== 2 ) { %>
        <div class="alert alert-danger">
            <%= message %>
        </div>   
    <%} %>
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel-body">
                        	<div class="search">
                                <form role="form" id="form-search" method="GET" action="/supply-chain">
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" name="id" value="">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" id="btn-search" type="submit" name="search_id"><i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <button class="btn btn-primary btn-success" id="btn-addnew" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> Add new</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <form role = 'form' id="form-post" method="POST" action="/supply-chain">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title" id="myModalLabel">Supply Chain Model</h4>
                                                    </div>
												<div id="myDIV">
                                                    <div class="modal-body">
                                                        <div class="group-1">
                                                            <div class="form-group col-3">
                                                                <label>UUID</label>
                                                                <input class="form-control box-co" name="id_item" value="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Version</label>
                                                                <input class="form-control box-co" name="version_item" value="">
															</div>    
															<div class="form-group">
                                                                <label>Status</label>
                                                                <input class="form-control box-co" name="status_item" value="">
                                                            </div>    
                                                            <div class="form-group col-3">  
                                                                <label>Name</label>
                                                                <input class="form-control box-co" name="name_item" value="">
                                                            </div>
                                                            <div class="form-group col-3">
                                                                <label>Organization</label>
                                                                <select class="form-control box-co" name="organization_item" value=""></select>
                                                            </div>    
                                                        </div>  
                                                  <div class="group-2">
													<div class="panel">
															<!-- /.panel-heading -->
														<div class="panel-body">
															<!-- Nav tabs -->
															<ul class="nav nav-tabs">
																<li class="active"><a href="#productStructure" data-toggle="tab" style="font-weight: bold;">Product Structure</a>
																</li>
																 <li><a href="#supplyChainStructure" data-toggle="tab"  style="font-weight: bold;">Supply Chain Structure</a>
																</li>																
															 </ul>

															<!-- Tab panes -->
															<div class="tab-content">
																<div class="tab-pane fade in active" id="productStructure">
																	<div class="row show-grid">
																		<table class="table table-content" id="tbl-productStructure">
																			<tbody>
																					<tr class="end_general" style="display:none;">
																						<th width="200px" class="co-th "> <input onchange="" class="form-control box-co" name="general_key" value="GS1 GSIN" readonly></th>
																						<th class="co-th"> <input class="form-control box-co" name="general_val" id="general_GSIN" value=""></th>																					
																					</tr>
																					<tr>
																						<!--<th width="100%" class="co-th "><input onchange="" class="form-control box-co" id="productToAdd" value="<select a product>"></th>-->
																						<th width="100%" class="co-th ">
																							<select onchange="" class="form-control box-co" name="select_productToAdd" id="select_productToAdd">
																							</select>
																						</th>																						
																						<th width="7px" class="co-th mybutton"><button type="button" onclick="insert_general()" class="btn btn-success mybutton del_general"><i class="fa fa-plus"></i></button></th>
																					</tr>																																												
																			</tbody>
																		</table>
																	</div>
																</div>

																<div class="tab-pane fade" id="supplyChainStructure">
																<div class="row show-grid">
																<table class="table table-content" id="tbl-supplyChainStructure">
																	<tbody>
																			<tr class="end_sc" style="display:none;">																				
																			</tr>
																			<tr>																				
																				<th width="100%" class="co-th ">
																					<select onchange="" class="form-control box-co" name="select_participantsToAdd" id="select_participantsToAdd">
																					</select>
																				</th>																						
																				<th width="7px" class="co-th mybutton"><button type="button" onclick="insert_sc()" class="btn btn-success mybutton del_sc"><i class="fa fa-plus"></i></button></th>
																			</tr>																																												
																	</tbody>
																</table>
															</div>
																</div>
															</div>
														</div>
													</div>
														<!-- /.panel-body -->
													</div>

                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                                        <button type="submit" name="send" id="btnclick" class="btn btn-success">Save</button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                    </form>
									</div>   
									             
                    <div class="table-responsive">
                        <table class="table mytable">                            
                            <thead>
                                <tr>
                                    <th class="row-title">ID</th>
                                    <th class="row-title">Object Type</th>
                                    <th class="row-title">Name</th>                                    
                                    <th class="row-title">Version</th>
                                    <th class="row-title">Products</th>
                                    <th class="row-title">SC-Structure</th>
                                    <th class= "col-action row-title">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <% 
                                        var rowid=1 
                                        for(var k in scms ) {												
									 %>									 
                                        <tr class="row-<%=rowid%>">
                                            <th class="id"><%=scms[k]['id']%></th>
                                            <th class="obj"><%=scms[k]['objectType']%></th>
                                            <th class="name"><%=scms[k]['name']%></th>                                           											

											<% 
												if(scms[k]['content'].version != null) {													
											%>
												<th class="name"><%= scms[k]['content'].version %></th>
											<% 
												} else { 												
											%>
												<th class="name"></th>
											<% 
												} 
											%>

											<% 
												if(scms[k]['content'].products != null) {													
											%>
												<th class="name"><%= scms[k]['content'].products.length %> product(s)</th>
											<% 
												} else { 												
											%>
												<th class="name">0 product</th>
											<% 
												} 
											%>
											
											<% 
												if(scms[k]['content'].scstructure != null) {													
											%>
												<th class="name"><%= scms[k]['content'].scstructure.length %> participant(s)</th>
											<% 
												} else { 												
											%>
												<th class="name">0 participant</th>
											<% 
												} 
											%>

                                            <th><button type="button" id="<%=rowid%>" class="btn btn-warning btn-edit"><i class="fa fa-pencil"></i> Edit</button></th> 
                                        </tr>
                                    <% rowid++}; 
                                    %> 
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
 	</div>
</div>
<script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>    

	var _scmStatusSet = ["Draft", "Activated", "Suppended"]
	var _orgs = [];
	var _parties = [];
	var _locations = [];
	var _assets = [];
	var _products = [];
	var _participants = [];

	$( document ).ready(function() {
		get_orgs();		
		get_parties();
		get_locations();
		get_assets();
		get_products();
	});

	function get_orgs()
	{
		get_objects("/supply-chain/orgs", (items) => 
		{
			_orgs = items;
		})
	}

	function get_parties()
	{
		get_objects("/supply-chain/parties", (items) => 
		{
			_parties = items;
		})
	}

	function get_locations()
	{
		get_objects("/supply-chain/locations", (items) => 
		{
			_locations = items;
		})
	}

	function get_assets()
	{
		get_objects("/supply-chain/assets", (items) => 
		{
			_assets = items;
		})
	}

	function get_products()
	{
		get_objects("/supply-chain/products", (items) => 
		{
			products_add_items(items);
		})
	}

	function get_objects(url, callback)
	{
		$.getJSON( url, function( items ) {
			items.forEach(function( item ) {
				if(item.content)
				{
					try {
						item.content = JSON.parse(item.content);
					} catch(e) {}					
				}
			});
			callback(items)
		});
	}

	function build_participants()
	{
		_participants = [];
		_participants.push({id: "", name: "<- please select a participant! ->", isAdded: false});
		_parties.forEach(function( party ) {
			_participants.push(party);
			_locations.forEach(function( loc ) {
				if(loc.parent === party.id)
				{
					loc.name = "&nbsp;&nbsp;&nbsp;&nbsp;" + loc.name;
					_participants.push(loc);					
					_assets.forEach(function( asset ) {
						if(asset.parent === loc.id)
						{
							asset.name = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + asset.name;
							_participants.push(asset);
						}
					});			
				}
				
			});		
		});

		_participants.forEach(function(item){
			item.isAdded = false;
		});
	}

	function products_add_items(products)
	{
		_products.push({id : "", name : " <- please select a product ! ->", isAdded : false});    		
		if(products && products.length > 0)
		{
			for (i = 0; i < products.length; i++) {
				products[i].isAdded = false;
				_products.push(products[i]);    		
			}
		}

		show_items(_products, $("#select_productToAdd"));
	}

	function products_remove_items(products)
	{
		if(products && products.length > 0)
		{
			for (i = 0; i < products.length; i++) {
				var index = products_find_item(products[i]);
				if(index > -1)
				{
					_products.splice(index, 1);
				}
			}
		}
		show_items(_products, $("#select_productToAdd"));
	}

	function products_markAsAdded_items(product)
	{
		var index = find_item(product, _products);				
		if(index > -1)
		{
			_products[index].isAdded = true;				
		}
		
		show_items(_products, $("#select_productToAdd"));
	}

	function participants_markAsAdded_items(itemID)
	{
		var index = find_item(itemID, _participants);				
		if(index > -1)
		{
			_participants[index].isAdded = true;				
		}
		
		show_items(_participants, $("#select_participantsToAdd"));
	}

	function products_markAsUnAdded_items(product)
	{
		var index = find_item(product, _products);				
		if(index > 0)
		{
			_products[index].isAdded = false;				
		}
		
		show_items(_products, $("#select_productToAdd"));
	}

	function participants_markAsUnAdded_items(itemID)
	{
		var index = find_item(itemID, _participants);				
		if(index > 0)
		{
			_participants[index].isAdded = false;				
		}
		
		show_items(_participants, $("#select_participantsToAdd"));
	}

	function find_item(itemID, items)
	{
		if(itemID && items)
		{
			for (i = 0; i < items.length; i++) {
				if(items[i].id === itemID)
				{
					return i;
				}
			}
		}

		return -1;
	}

	function show_items(items, select, isShowAll){
		select.empty();
		for (i = 0; i < items.length; i++) {
			if(isShowAll || items[i].isAdded === undefined || items[i].isAdded === false)
			{
				select.append('<option value=\"' + items[i].id + '\">' + items[i].name + '</option>')
			}
  		}
	}


	function remote_product(product)
	{
		var index = products.indexOf(product);
		if (index !== -1) products.splice(index, 1);
	}

	function insert_general(){
	
		var selecteProductToAddEle = $('#select_productToAdd');
		var selectedProduct = selecteProductToAddEle.val();	

		if(selectedProduct === "")
			return;

		var row_id=$('#tbl-productStructure>tbody>tr.productStructure-rows').length+1;
		var selectProductId = "selectProducts_" + row_id;
		var html='<tr class="productStructure-rows general-'+row_id+'">';
			html+='<th width="200px" class="co-th "> <select name="select_product" onchange="" class="form-control box-co" id=\''+ selectProductId  +'\'/></th>';			
			html+='<th width="7px" class="co-th mybutton"><button type="button" onclick="del_general('+row_id+')" class="btn btn-danger mybutton del_general"><i class="fa fa-trash"></i></button></th>';
			html+='</tr>';

	  $(html).insertBefore( ".end_general" );
	  show_items(_products, $('#'+ selectProductId), true);
	  $('#'+ selectProductId).val(selectedProduct);

	  products_markAsAdded_items(selectedProduct);	  
	};
		
	function del_general(id){
		
	  var i=1;

	  var removedProduct = $('#selectProducts_'+ id).val();

	  $('.general-'+id).remove();

	  $('#tbl-general>tbody>tr.general-rows').each(function(){
		var z=i++;
		$(this).attr('class','general-rows general-'+z);
		$(this).find('.del_general').attr('onclick','del_general('+(z)+')');
	  });
	  
	  products_markAsUnAdded_items(removedProduct);	  
	};

	function insert_sc(){
	
		var selecteProductToAddEle = $('#select_participantsToAdd');
		var itemID = selecteProductToAddEle.val();	

		if(itemID === "")
			return;

		var row_id=$('#tbl-supplyChainStructure>tbody>tr.supplyChainStructure-rows').length+1;
		var selectProductId = "selectParticipants_" + row_id;
		var html='<tr class="supplyChainStructure-rows sc-'+row_id+'">';
			html+='<th width="200px" class="co-th "> <select name="select_participants" onchange="" class="form-control box-co" id=\''+ selectProductId  +'\'/></th>';			
			html+='<th width="7px" class="co-th mybutton"><button type="button" onclick="del_sc('+row_id+')" class="btn btn-danger mybutton del_sc"><i class="fa fa-trash"></i></button></th>';
			html+='</tr>';

	  $(html).insertBefore( ".end_sc" );
	  show_items(_participants, $('#'+ selectProductId), true);
	  $('#'+ selectProductId).val(itemID);

	  participants_markAsAdded_items(itemID);	  
	};

	function del_sc(id){
		
	  var i=1;

	  var removedProduct = $('#selectParticipants_'+ id).val();

	  $('.sc-'+id).remove();

	  $('#tbl-supplyChainStructure>tbody>tr.sc-rows').each(function(){
		var z=i++;
		$(this).attr('class','sc-rows sc-'+z);
		$(this).find('.del_sc').attr('onclick','del_sc('+(z)+')');
	  });
	  
	  participants_markAsUnAdded_items(removedProduct);	  
	};

	function uuidv4() {
		return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
			var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
			return v.toString(16);
		});
	}

	function init_scm(isNew)
	{	
		if(isNew === true)
		{
			var scm = {
				id : uuidv4(),
				version : "0.1",
				status : "Draft",
				name : "supply chain model 1",
				products : [],
				scstructure : [],
				_status : "Actived"
			};
			return scm;
		}
		else
		{

		}
	}

	$('.btn-edit').click(function(){
		
        var id=$('.row-'+$(this).attr('id')).find('.id').text();
        var name=$('.row-'+$(this).attr('id')).find('.name').text();
        var obj=$('.row-'+$(this).attr('id')).find('.obj').text();
        var parent=$('.row-'+$(this).attr('id')).find('.parent').text();
		var content=$('.row-'+$(this).attr('id')).find('.content').text();
		var parseJS=JSON.parse(content);
		var objcontent=JSON.parse(parseJS);
		
		$("#myModal").modal();
        $('#form-post').attr('action','/organization/action?_method=put');
		
        $( "input[name='id_item']" ).val(id);
        $( "input[name='name_item']" ).val(name);
        $( "input[name='type_item']" ).val(obj);
        $( "input[name='parent_item']" ).val(parent);

		var cont=objcontent['Contact'];
			$('#contact_name').val(cont['Full-Name']);
			$('#contact_email').val(cont['Email']);
			$('#contact_phone').val(cont['Phone']);
			$('#contact_role').val(cont['Role']);
			$('#contact_account').val(cont['DEEVO-Account']);
	
	
		var add=objcontent['Address'];
			$('#address_house').val(add['House']);
			$('#address_street').val(add['Street']);
			$('#address_ward').val(add['Ward']);
			$('#address_district').val(add['District']);
			$('#address_city').val(add['City']);
			$('#address_country').val(add['Country-Code']);

		var locat=objcontent['Location'];
			$('#location_longitude').val(locat['Longitude']);
			$('#location_latitude').val(locat['Latitude']);
			
			$('#general_GLN').val(objcontent['GS1 GLN']);
			$('#general_GSIN').val(objcontent['GS1 GSIN']);
			$('#general_SSCC').val(objcontent['GS1 SSCC']);
			$('#general_GTIN').val(objcontent['GS1 GTIN']);
			$('#general_GINC').val(objcontent['GS1 GINC']);
			$('#general_GRAI').val(objcontent['GS1 GRAI']);
			$('#general_GIAI').val(objcontent['GS1 GIAI']);
			$('#general_GSRN').val(objcontent['GS1 GSRN']);
			$('#general_GDTI').val(objcontent['GS1 GDTI']);
			$('#general_GCN').val(objcontent['GS1 GCN']);
			$('#general_CPID').val(objcontent['GS1 CPID']);
			$('#general_Country').val(objcontent['Country']);
			$('#general_Prefix').val(objcontent['GS1 Prefix']);
			$('#general_Phone').val(objcontent['Phone']);
			$('#general_Fax').val(objcontent['Fax']);
			$('#general_Email').val(objcontent['Email']);
			$('#general_Website').val(objcontent['Website']);
			$('#general_BSCountry').val(objcontent['Business Country']);

    });

    $('#btn-addnew').click(function(){

		var scm = init_scm(true);
		build_participants();
		reset_ui(scm);
	});

	function reset_ui(scm)
	{
		$('#form-post').attr('action','/supply-chain');
		$( "input[name='id_item']" ).val(scm.id);
		$( "input[name='version_item']" ).val(scm.version);
		$( "input[name='status_item']" ).val(scm.status);
		$( "input[name='name_item']" ).val(scm.name);

		show_items(_orgs,$( "select[name='organization_item']" ));
		show_items(_products,$( "select[name='select_productToAdd']" ));
		show_items(_participants,$( "select[name='select_participantsToAdd']" ));		
	}
</script>